<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    Email: <input type="text"><br><br>
    Password: <input type="text"><br><br>
    Confirm Password: <input type="text"><br><br>
    First Name: <input type="text"><br><br>
    Last Name: <input type="text"><br><br>
    <button>Create Account</button>
  </body>
</html>
