<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<!--     <a href="./createaccount"><h2>Create Account *</h2></a>
    <a href="./login"><h2>Log In *</h2></a> -->
    <a href="./trelloLogin"><h2>Trello</h2></a>
    <a href="./prosperworks"><h2>ProsperWorks</h2></a>
  </body>
</html>
