body {
	min-width: 765px;
}

#reload-button {
	float: right;
	margin-bottom: 3px;
}

table, tr, th {
	text-align: center;
	vertical-align: top;
}

table {
	width:100%;
}

#overall-table{
	padding: 40px;
	font-size: 17px;
}

#overall-table td{
	border: 1px solid black;
	padding: 5px;
}

#card-details {
	font-size: 12px;
}

.card_list_container{ list-style-type: none; }

.card_container {
	border-radius: 10px;
	background: #d4d4d4;
	padding: 20px;
	margin-right: 40px;
	width: 300px;
}

#hidden_board_link {
	text-align: center;
}

.history-button {
	background:none!important;
    color: black;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

.history-button:hover {
	/*border is optional*/
    border-bottom:1px solid #444; 
    border-color: black;
}

.collapse{
	font-size: 12px;
}
